default_install_hook_types:
  - pre-commit
  - post-checkout
  - post-merge
  - post-rewrite

ci:
  autoupdate_schedule: monthly

# cf https://pre-commit.com/#regular-expressions
exclude: |
  (?x)^(
      tests/templates/invalid.txt|
      scripts/django_tests_use_rusty_templates.patch
  )$

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: 3e8a8703264a2f4a69428a0aa4dcb512790b2c8c  # frozen: v6.0.0
    hooks:
      - id: check-added-large-files
      - id: check-case-conflict
      - id: check-json
      - id: check-merge-conflict
      - id: check-symlinks
      - id: check-toml
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: fix-byte-order-marker
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: 36243b70e5ce219623c3503f5afba0f8c96fda55  # frozen: v0.14.7
    hooks:
      - id: ruff-check
        args: [--fix, --exit-non-zero-on-fix]
      - id: ruff-format
  - repo: https://github.com/AndrejOrsula/pre-commit-cargo
    rev: dea2de902af82db3de7418a1fcd1b0042418885f # frozen: 0.4.0
    hooks:
      - id: cargo-fmt
  - repo: https://github.com/astral-sh/uv-pre-commit
    rev: ed07c6e8889cf83a7245866d1dd007d1f93bf55e  # frozen: 0.9.13
    hooks:
      - id: uv-lock
      - id: uv-sync
  - repo: https://github.com/woodruffw/zizmor-pre-commit
    rev: 1e30511413f07e516c1844ba91abce8aca984963  # frozen: v1.18.0
    hooks:
      - id: zizmor
  - repo: https://github.com/crate-ci/typos
    rev: 802d5794ff9cf7b15610c47eca99cd1ab757d8d4  # frozen: v1
    hooks:
      - id: typos
