name: Rust

on:
  push:
    branches: main
  pull_request:

permissions: {}

env:
  CARGO_TERM_COLOR: always
  PYTHONPATH: ${{ github.workspace }}

jobs:
  test:

    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: ["macos-latest", "ubuntu-latest", "windows-latest"]

    steps:
    - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
      with:
        persist-credentials: false
    - name: Set up Python
      uses: actions/setup-python@e797f83bcb11b83ae66e0230d6156d7c80228e7c # v6.0.0
      with:
        python-version: "3.14"
    - name: Install uv
      uses: astral-sh/setup-uv@1e862dfacbd1d6d858c55d9b792c756523627244 # v7.1.4
    - name: Install dependencies
      run: uv sync
      env:
        UV_PROJECT_ENVIRONMENT: ${{ env.pythonLocation }}
    - name: Install cargo-llvm-cov
      uses: taiki-e/install-action@f79fe7514db78f0a7bdba3cb6dd9c1baa7d046d9 # v2.62.56
      with:
        tool: cargo-llvm-cov
    - name: Run tests
      run: cargo llvm-cov --all-features --workspace --lcov --output-path lcov.info
    - name: Upload coverage to Codecov
      uses: codecov/codecov-action@5a1091511ad55cbe89839c7260b706298ca349f7 # v5.5.1
      with:
        files: lcov.info
        fail_ci_if_error: true
